.observation-thumb {
  position: relative;
}

.user-avatar {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0.5rem 0.5rem;
}

.avatar-chip {
  background: var(--ion-color-light);
}

.observation-thumb {
  width: 100%;
  height: 270px;
  background: var(--ion-color-light);
}

.observation-thumb > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
