.card-heading {
  font-size: large;
}

.card-text {
  font-size: medium;
}

.avatar {
  margin-left: 13px;
}

ion-slides {
  background: var(--ion-color-dark);
}

ion-slides img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
